{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron text-center">

        <h1>Salut bogoss</h1>
        <p>Loreldglkfd,gdpokdffgdffffffffffffffffffffffffffffffffffffffffffffffffffffff
            qdfhdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffhqdfhqdfhdhfdq</p>
    </div>


{% endblock %}